In [ ]:
import gdown

#https://drive.google.com/file/d/1WWOVisNe3NZfxJ8WUqU6GYsGjGuJLdoT/view?usp=drive_link

file_id = "1WWOVisNe3NZfxJ8WUqU6GYsGjGuJLdoT"
url = f"https://drive.google.com/uc?id={file_id}"

gdown.download(url, "data_recruitment_before_cleaning.parquet", quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1WWOVisNe3NZfxJ8WUqU6GYsGjGuJLdoT
To: /content/data_recruitment_before_cleaning.parquet
100%|██████████| 13.0k/13.0k [00:00<00:00, 26.2MB/s]

'data_recruitment_before_cleaning.parquet'

In [ ]:
import pandas as pd

data_before_cleaning = pd.read_parquet("data_recruitment_before_cleaning.parquet")

display(data_before_cleaning)

,candidate_id,position,experience_years,major,applied_date,kpi_1,kpi_2,kpi_3,kpi_4,kpi_5,kpi_6,kpi_major
0,C0001,Recruitment Analyst,0.80,Statistika,2024-11-09,2.0,3.0,3.0,4.0,3.0,3.0,5
1,C0002,HR Officer,0.01,Psikologi,2024-11-28,2.0,2.0,3.0,2.0,2.0,4.0,5
2,C0003,Recruitment Analyst,0.38,Akuntansi,2024-11-26,3.0,3.0,3.0,4.0,3.0,3.0,3
3,C0004,Business Development,0.83,Manajemen,2024-11-18,3.0,3.0,2.0,3.0,2.0,2.0,4
4,C0005,Recruitment Analyst,0.84,Sistem Informasi,2024-11-11,3.0,4.0,2.0,2.0,3.0,3.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
407,None,None,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
408,None,HR Officer,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
409,None,Recruitment Analyst,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
410,C0395,HR Officer,0.91,Manajemen SDM,2024-11-21,3.0,2.0,3.0,3.0,3.0,1.0,5
411,C0392,HR Officer,0.99,Hubungan Internasional,2024-11-23,3.0,3.0,3.0,4.0,3.0,3.0,<NA>

In [ ]:
data_before_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   candidate_id      404 non-null    object
 1   position          410 non-null    object
 2   experience_years  402 non-null    float64
 3   major             402 non-null    object
 4   applied_date      412 non-null    datetime64[ns]
 5   kpi_1             402 non-null    float64
 6   kpi_2             402 non-null    float64
 7   kpi_3             402 non-null    float64
 8   kpi_4             402 non-null    float64
 9   kpi_5             402 non-null    float64
 10  kpi_6             402 non-null    float64
 11  kpi_major         369 non-null    Int64
dtypes: Int64(1), datetime64[ns](1), float64(7), object(3)
memory usage: 39.2+ KB

In [ ]:
data_before_cleaning['kpi_major']=data_before_cleaning['kpi_major'].astype('float')

In [ ]:
data_before_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   candidate_id      404 non-null    object
 1   position          410 non-null    object
 2   experience_years  402 non-null    float64
 3   major             402 non-null    object
 4   applied_date      412 non-null    datetime64[ns]
 5   kpi_1             402 non-null    float64
 6   kpi_2             402 non-null    float64
 7   kpi_3             402 non-null    float64
 8   kpi_4             402 non-null    float64
 9   kpi_5             402 non-null    float64
 10  kpi_6             402 non-null    float64
 11  kpi_major         369 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(3)
memory usage: 38.8+ KB

In [ ]:
# Pemeriksaan nilai null pada data
data_before_cleaning.isna().sum()

candidate_id         8
position             2
experience_years    10
major               10
applied_date         0
kpi_1               10
kpi_2               10
kpi_3               10
kpi_4               10
kpi_5               10
kpi_6               10
kpi_major           43
dtype: int64

In [ ]:
condition_missing = data_before_cleaning['candidate_id'].isna()
display(data_before_cleaning[condition_missing])

,candidate_id,position,experience_years,major,applied_date,kpi_1,kpi_2,kpi_3,kpi_4,kpi_5,kpi_6,kpi_major
400,None,HR Officer,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,None,Business Development,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,None,None,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,None,Recruitment Analyst,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,None,HR Officer,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,None,None,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408,None,HR Officer,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,None,Recruitment Analyst,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Cek jumlah data sebelum data missing dihapus
data_before_cleaning.shape

(412, 12)

In [ ]:
data_before_cleaning = data_before_cleaning.dropna(subset=['candidate_id'])

In [ ]:
data_before_cleaning.shape

(404, 12)

In [ ]:
# Cek data duplicate
data_before_cleaning.duplicated(subset =['candidate_id','position','major','applied_date'],keep= False).sum()

np.int64(4)

In [ ]:
# Cek data duplicate
data_before_cleaning.duplicated(subset =['candidate_id'],keep= False).sum()

np.int64(4)

In [ ]:
condition_duplicated = data_before_cleaning.duplicated(subset =['candidate_id','position','major','applied_date'],keep= False)
display(data_before_cleaning[condition_duplicated])

,candidate_id,position,experience_years,major,applied_date,kpi_1,kpi_2,kpi_3,kpi_4,kpi_5,kpi_6,kpi_major
391,C0392,HR Officer,0.99,Hubungan Internasional,2024-11-23,3.0,3.0,3.0,4.0,3.0,3.0,NaN
394,C0395,HR Officer,0.91,Manajemen SDM,2024-11-21,3.0,2.0,3.0,3.0,3.0,1.0,5.0
410,C0395,HR Officer,0.91,Manajemen SDM,2024-11-21,3.0,2.0,3.0,3.0,3.0,1.0,5.0
411,C0392,HR Officer,0.99,Hubungan Internasional,2024-11-23,3.0,3.0,3.0,4.0,3.0,3.0,NaN

In [ ]:
print(f'jumlah data yang duplikat adalah {len(data_before_cleaning[condition_duplicated])}')

jumlah data yang duplikat adalah 4

In [ ]:
# Hapus data duplikat pada kolom customer_id
data_before_cleaning = data_before_cleaning.drop_duplicates(subset =['candidate_id','position','major','applied_date'],keep= 'first')

In [ ]:
data_before_cleaning.shape

(402, 12)

In [ ]:
data_before_cleaning.isna().sum()

candidate_id         0
position             0
experience_years     2
major                2
applied_date         0
kpi_1                2
kpi_2                2
kpi_3                2
kpi_4                2
kpi_5                2
kpi_6                2
kpi_major           34
dtype: int64

In [ ]:
condition_missing1 = data_before_cleaning['major'].isna()
display(data_before_cleaning[condition_missing1])

,candidate_id,position,experience_years,major,applied_date,kpi_1,kpi_2,kpi_3,kpi_4,kpi_5,kpi_6,kpi_major
401,C0401,HR Officer,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,C0402,HR Officer,NaN,None,2024-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_before_cleaning.shape

(402, 12)

In [ ]:
data_before_cleaning = data_before_cleaning.dropna(subset=['major'])

In [ ]:
data_before_cleaning.shape

(400, 12)

In [ ]:
data_before_cleaning.isna().sum()

candidate_id         0
position             0
experience_years     0
major                0
applied_date         0
kpi_1                0
kpi_2                0
kpi_3                0
kpi_4                0
kpi_5                0
kpi_6                0
kpi_major           32
dtype: int64

In [ ]:
condition_missing2 = data_before_cleaning['kpi_major'].isna()
display(data_before_cleaning[condition_missing2])

,candidate_id,position,experience_years,major,applied_date,kpi_1,kpi_2,kpi_3,kpi_4,kpi_5,kpi_6,kpi_major
36,C0037,Recruitment Analyst,0.42,Hukum,2024-11-08,2.0,3.0,4.0,2.0,4.0,3.0,NaN
80,C0081,Recruitment Analyst,0.66,Hukum,2024-11-06,2.0,3.0,2.0,3.0,3.0,3.0,NaN
88,C0089,HR Officer,0.30,Pendidikan Matematika,2024-11-19,2.0,2.0,2.0,3.0,3.0,3.0,NaN
93,C0094,HR Officer,0.54,Pendidikan Matematika,2024-11-02,4.0,3.0,3.0,4.0,3.0,3.0,NaN
94,C0095,Recruitment Analyst,0.24,Hukum,2024-11-05,4.0,3.0,3.0,3.0,4.0,3.0,NaN
110,C0111,HR Officer,0.60,Hubungan Internasional,2024-11-08,3.0,2.0,4.0,4.0,3.0,3.0,NaN
134,C0135,HR Officer,0.45,Hubungan Internasional,2024-11-18,2.0,3.0,3.0,3.0,3.0,3.0,NaN
138,C0139,HR Officer,0.64,Pendidikan Matematika,2024-11-26,2.0,3.0,2.0,3.0,3.0,3.0,NaN
140,C0141,HR Officer,0.28,Pendidikan Matematika,2024-11-30,3.0,3.0,2.0,2.0,2.0,3.0,NaN
155,C0156,HR Officer,0.56,Hubungan Internasional,2024-11-13,3.0,3.0,2.0,3.0,3.0,4.0,NaN
165,C0166,Recruitment Analyst,0.35,Hukum,2024-11-19,2.0,3.0,4.0,4.0,3.0,3.0,NaN
171,C0172,Recruitment Analyst,0.66,Hubungan Internasional,2024-11-19,3.0,3.0,2.0,3.0,3.0,3.0,NaN
188,C0189,HR Officer,0.28,Pendidikan Matematika,2024-11-18,2.0,3.0,3.0,2.0,3.0,4.0,NaN
193,C0194,HR Officer,0.91,Hubungan Internasional,2024-12-02,3.0,4.0,2.0,4.0,3.0,3.0,NaN
212,C0213,HR Officer,0.82,Hubungan Internasional,2024-11-23,2.0,3.0,3.0,3.0,2.0,3.0,NaN
239,C0240,HR Officer,0.90,Pendidikan Matematika,2024-11-17,4.0,3.0,3.0,3.0,3.0,3.0,NaN
242,C0243,Recruitment Analyst,0.46,Hukum,2024-11-24,3.0,3.0,3.0,2.0,3.0,4.0,NaN
257,C0258,HR Officer,0.29,Hubungan Internasional,2024-11-18,4.0,3.0,3.0,2.0,3.0,3.0,NaN
295,C0296,Recruitment Analyst,0.12,Hubungan Internasional,2024-11-17,3.0,3.0,2.0,3.0,3.0,3.0,NaN
297,C0298,Recruitment Analyst,0.18,Hubungan Internasional,2024-11-23,2.0,4.0,4.0,2.0,4.0,3.0,NaN
300,C0301,Recruitment Analyst,0.24,Hukum,2024-11-08,4.0,4.0,3.0,4.0,3.0,3.0,NaN
303,C0304,HR Officer,0.39,Hubungan Internasional,2024-11-12,4.0,2.0,3.0,4.0,3.0,2.0,NaN
314,C0315,HR Officer,0.82,Pendidikan Matematika,2024-11-07,3.0,3.0,2.0,3.0,3.0,4.0,NaN
315,C0316,HR Officer,0.38,Hubungan Internasional,2024-11-23,4.0,3.0,3.0,2.0,3.0,3.0,NaN
348,C0349,HR Officer,0.55,Hubungan Internasional,2024-11-19,3.0,3.0,3.0,3.0,3.0,2.0,NaN
355,C0356,HR Officer,0.09,Pendidikan Matematika,2024-11-02,4.0,2.0,4.0,3.0,3.0,3.0,NaN
367,C0368,Recruitment Analyst,0.59,Hukum,2024-11-19,4.0,2.0,3.0,5.0,2.0,2.0,NaN
378,C0379,Recruitment Analyst,0.75,Hukum,2024-11-24,3.0,2.0,3.0,3.0,3.0,3.0,NaN
379,C0380,HR Officer,0.32,Hubungan Internasional,2024-11-11,3.0,3.0,3.0,3.0,3.0,3.0,NaN
381,C0382,HR Officer,0.66,Hubungan Internasional,2024-11-09,3.0,3.0,3.0,3.0,3.0,3.0,NaN
382,C0383,HR Officer,0.25,Pendidikan Matematika,2024-11-23,3.0,3.0,3.0,4.0,2.0,4.0,NaN
391,C0392,HR Officer,0.99,Hubungan Internasional,2024-11-23,3.0,3.0,3.0,4.0,3.0,3.0,NaN

Kondisi ini sebenernya normal karena pada saat lookup value posisi tersebut tidak terdapat sesuai dengan jurusan yang ada maka selanjutnya di inputasi dengan nilai 1 karena jurusan dengan posisi tidak relevan

In [ ]:
data_before_cleaning['kpi_major'].value_counts(dropna=False)

kpi_major
5.0    157
4.0     85
2.0     75
3.0     51
NaN     32
Name: count, dtype: int64

In [ ]:
data_before_cleaning['kpi_major'] = data_before_cleaning['kpi_major'].fillna(1.0)

In [ ]:
data_before_cleaning['kpi_major'].value_counts(dropna=False)

kpi_major
5.0    157
4.0     85
2.0     75
3.0     51
1.0     32
Name: count, dtype: int64

In [ ]:
data_before_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 0 to 399
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   candidate_id      400 non-null    object
 1   position          400 non-null    object
 2   experience_years  400 non-null    float64
 3   major             400 non-null    object
 4   applied_date      400 non-null    datetime64[ns]
 5   kpi_1             400 non-null    float64
 6   kpi_2             400 non-null    float64
 7   kpi_3             400 non-null    float64
 8   kpi_4             400 non-null    float64
 9   kpi_5             400 non-null    float64
 10  kpi_6             400 non-null    float64
 11  kpi_major         400 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(3)
memory usage: 40.6+ KB

In [ ]:
# Mapping tipe pandas → BigQuery
dtype_mapping = {
    'object': 'STRING',
    'string': 'STRING',
    'Int64': 'INT64',
    'int64': 'INT64',
    'float64': 'FLOAT64',
    'boolean': 'BOOL',
    'bool': 'BOOL',
    'datetime64[ns]': 'DATE'
}

def generate_bq_schema(df):
    schema = []
    for col, dtype in df.dtypes.items():
        dtype_str = str(dtype)
        bq_type = dtype_mapping.get(dtype_str, 'STRING')
        schema.append({'name': col, 'type': bq_type})
    return schema

In [ ]:
# Definsiikan schema di datamart
table_schema_datamart = generate_bq_schema(data_before_cleaning)
table_schema_datamart

[{'name': 'candidate_id', 'type': 'STRING'},
 {'name': 'position', 'type': 'STRING'},
 {'name': 'experience_years', 'type': 'FLOAT64'},
 {'name': 'major', 'type': 'STRING'},
 {'name': 'applied_date', 'type': 'DATE'},
 {'name': 'kpi_1', 'type': 'FLOAT64'},
 {'name': 'kpi_2', 'type': 'FLOAT64'},
 {'name': 'kpi_3', 'type': 'FLOAT64'},
 {'name': 'kpi_4', 'type': 'FLOAT64'},
 {'name': 'kpi_5', 'type': 'FLOAT64'},
 {'name': 'kpi_6', 'type': 'FLOAT64'},
 {'name': 'kpi_major', 'type': 'FLOAT64'}]

In [ ]:
!pip install pandas-gbq
from pandas_gbq import to_gbq

Requirement already satisfied: pandas-gbq in /usr/local/lib/python3.12/dist-packages (0.30.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (75.2.0)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (1.5.0)
Requirement already satisfied: numpy>=1.18.1 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (2.0.2)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (2.2.2)
Requirement already satisfied: pyarrow>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (18.1.0)
Requirement already satisfied: pydata-google-auth>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (1.9.1)
Requirement already satisfied: google-api-core<3.0.0,>=2.10.2 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (2.29.0)
Requirement already satisfied: google-auth>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (2.47.0)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (1.2.4)
Requirement already satisfied: google-cloud-bigquery<4.0.0,>=3.4.2 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (3.40.0)
Requirement already satisfied: packaging>=22.0.0 in /usr/local/lib/python3.12/dist-packages (from pandas-gbq) (25.0)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /usr/local/lib/python3.12/dist-packages (from google-api-core<3.0.0,>=2.10.2->pandas-gbq) (1.72.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /usr/local/lib/python3.12/dist-packages (from google-api-core<3.0.0,>=2.10.2->pandas-gbq) (5.29.5)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /usr/local/lib/python3.12/dist-packages (from google-api-core<3.0.0,>=2.10.2->pandas-gbq) (1.27.0)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in /usr/local/lib/python3.12/dist-packages (from google-api-core<3.0.0,>=2.10.2->pandas-gbq) (2.32.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth>=2.13.0->pandas-gbq) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth>=2.13.0->pandas-gbq) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (2.0.0)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery<4.0.0,>=3.4.2->pandas-gbq) (2.5.0)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery<4.0.0,>=3.4.2->pandas-gbq) (2.8.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery<4.0.0,>=3.4.2->pandas-gbq) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.1.4->pandas-gbq) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.1.4->pandas-gbq) (2025.3)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in /usr/local/lib/python3.12/dist-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery<4.0.0,>=3.4.2->pandas-gbq) (1.76.0)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in /usr/local/lib/python3.12/dist-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery<4.0.0,>=3.4.2->pandas-gbq) (1.71.2)
Requirement already satisfied: google-crc32c<2.0.0,>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery<4.0.0,>=3.4.2->pandas-gbq) (1.8.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.12/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.6.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery<4.0.0,>=3.4.2->pandas-gbq) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0,>=2.10.2->pandas-gbq) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0,>=2.10.2->pandas-gbq) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0,>=2.10.2->pandas-gbq) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0,>=2.10.2->pandas-gbq) (2026.1.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.12/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.3.1)
Requirement already satisfied: typing-extensions~=4.12 in /usr/local/lib/python3.12/dist-packages (from grpcio<2.0.0,>=1.33.2->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery<4.0.0,>=3.4.2->pandas-gbq) (4.15.0)

In [ ]:
# Upload ke BigQuery
to_gbq(
    data_before_cleaning,
    destination_table = 'recruitment_analyst.data_after_cleaning',
    project_id = 'dqlab21-480410',
    if_exists = 'append',
    table_schema = table_schema_datamart
)

100%|██████████| 1/1 [00:00<00:00, 10407.70it/s]

Cek pada Big query

![image.png]()

In [ ]:
data_before_cleaning.to_parquet("data_recruitment_after_cleaning.parquet")

In [ ]:
from google.colab import files
files.download("data_recruitment_after_cleaning.parquet")

In [ ]:
display(data_before_cleaning)

,candidate_id,position,experience_years,major,applied_date,kpi_1,kpi_2,kpi_3,kpi_4,kpi_5,kpi_6,kpi_major
0,C0001,Recruitment Analyst,0.80,Statistika,2024-11-09,2.0,3.0,3.0,4.0,3.0,3.0,5.0
1,C0002,HR Officer,0.01,Psikologi,2024-11-28,2.0,2.0,3.0,2.0,2.0,4.0,5.0
2,C0003,Recruitment Analyst,0.38,Akuntansi,2024-11-26,3.0,3.0,3.0,4.0,3.0,3.0,3.0
3,C0004,Business Development,0.83,Manajemen,2024-11-18,3.0,3.0,2.0,3.0,2.0,2.0,4.0
4,C0005,Recruitment Analyst,0.84,Sistem Informasi,2024-11-11,3.0,4.0,2.0,2.0,3.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,C0396,HR Officer,0.50,Psikologi,2024-11-28,3.0,3.0,3.0,2.0,2.0,2.0,5.0
396,C0397,HR Officer,0.45,Pendidikan Bahasa Inggris,2024-11-03,3.0,2.0,4.0,3.0,3.0,4.0,2.0
397,C0398,HR Officer,0.79,Manajemen SDM,2024-11-02,2.0,3.0,3.0,3.0,2.0,3.0,5.0
398,C0399,Recruitment Analyst,0.62,Manajemen,2024-11-30,4.0,2.0,3.0,3.0,3.0,4.0,4.0
399,C0400,HR Officer,0.36,Psikologi,2024-11-03,2.0,3.0,4.0,3.0,2.0,3.0,5.0

Merubah data frame dengan format KPI wide menjadi KPI Long sehingga analisa lebih bersih

In [ ]:
kpi_cols = [c for c in data_before_cleaning.columns if c.startswith("kpi_")]

In [ ]:
data_recruitment_long = data_before_cleaning.melt(
    id_vars=[
        "candidate_id",
        "position",
        "experience_years",
        "major",
        "applied_date"
    ],
    value_vars=kpi_cols,
    var_name="kpi_name",
    value_name="score"
)

In [ ]:
display(data_recruitment_long)

,candidate_id,position,experience_years,major,applied_date,kpi_name,score
0,C0001,Recruitment Analyst,0.80,Statistika,2024-11-09,kpi_1,2.0
1,C0002,HR Officer,0.01,Psikologi,2024-11-28,kpi_1,2.0
2,C0003,Recruitment Analyst,0.38,Akuntansi,2024-11-26,kpi_1,3.0
3,C0004,Business Development,0.83,Manajemen,2024-11-18,kpi_1,3.0
4,C0005,Recruitment Analyst,0.84,Sistem Informasi,2024-11-11,kpi_1,3.0
...,...,...,...,...,...,...,...
2795,C0396,HR Officer,0.50,Psikologi,2024-11-28,kpi_major,5.0
2796,C0397,HR Officer,0.45,Pendidikan Bahasa Inggris,2024-11-03,kpi_major,2.0
2797,C0398,HR Officer,0.79,Manajemen SDM,2024-11-02,kpi_major,5.0
2798,C0399,Recruitment Analyst,0.62,Manajemen,2024-11-30,kpi_major,4.0
2799,C0400,HR Officer,0.36,Psikologi,2024-11-03,kpi_major,5.0

In [ ]:
table_schema_datamart1 = generate_bq_schema(data_recruitment_long)
table_schema_datamart1

[{'name': 'candidate_id', 'type': 'STRING'},
 {'name': 'position', 'type': 'STRING'},
 {'name': 'experience_years', 'type': 'FLOAT64'},
 {'name': 'major', 'type': 'STRING'},
 {'name': 'applied_date', 'type': 'DATE'},
 {'name': 'kpi_name', 'type': 'STRING'},
 {'name': 'score', 'type': 'FLOAT64'}]

In [ ]:
# Upload ke BigQuery
to_gbq(
    data_recruitment_long,
    destination_table = 'recruitment_analyst.data_long_after_cleaning',
    project_id = 'dqlab21-480410',
    if_exists = 'append',
    table_schema = table_schema_datamart1
)

100%|██████████| 1/1 [00:00<00:00, 9446.63it/s]

**Written By :** <br>
<a href="https://www.linkedin.com/in/naviantar"><img alt="Linked In Link" src="https://img.shields.io/badge/-Navi%20Antar-0072b1?style=for-the-badge&logo=None&logoColor=white" align="left"/></a>